{% extends 'base.html.twig' %}
{% block title 'Agence Malek' %}
{% block body %}
        <div class="container" style="
    margin-top: 50px;
">


            {{ form_start(form) }}
            <div class="container">

                <div class="row">


                    <label>type</label>
                <div class="col" >
                    {{ form_widget(form.token) }}
                </div>

                <label>categorie</label>
                <div class="col">
                    {{ form_widget(form.categ) }}
                </div>
                <label>surface</label>
                <div class="col" >
                    {{ form_widget(form.surface) }}
                </div>
                </div>
                <div class="row">
                    <label>rooms</label>
                <div class="col">
                    {{ form_widget(form.rooms) }}
                </div>
                 </div>

                <div class="row">
                <label>price</label>
                <div class="col">
                    {{ form_widget(form.price) }}

                </div>
                    <output  id="price"></output>


                    <label>city</label>
                <div class="col">
                    {{ form_widget(form.city) }}
                </div>


                <label>equipements</label>
                <div class="col">
                    {{ form_widget(form.equipement) }}
                </div>
                <div class="btn btn-primary">
                    {{ form_widget(form.save,{ 'label': 'Chercher' }) }}

                </div>
                </div>
            </div>
                {{ form_end(form) }}




    <div class="container">
    {% if form.vars.submitted  %}

        {# total items count #}
        <div class="count">
           <h3> {{ Property.getTotalItemCount }} Annonces trouvés a {{ recherche.token }} de {{ recherche.categ }} à {{ recherche.city }}
           </h3></div>
    {% endif %}

    {# table body #}
    <section class="page-section categories-page">
    <div class="container">
    <div class=" row">
        {% for property in Property %}
        <div {% if loop.index is odd %}class="color"{% endif %}></div>
                <div class="col-lg-4 col-md-6">

                    <div class="mx-auto animated fadeInDown">
                        <div class="feature-item">
                            <div class="sale-notic">{{ property.token }}</div>
                            <img class="feature-pic set-bg" src="/images/products/{{ property.image }}">

                            </img>
                            <div class="feature-text">
                                <div class="text-center feature-title">
                                    <h5> <a href="{{ path('property.show',{id: property.id, slug: property.slug})}}" class="room-price">{{property.title}}</a></h5>

                                    <p><i class="fa fa-map-marker"></i> {{property.address}}</p>
                                </div>
                                <div class="room-info-warp">
                                    <div class="room-info">
                                        <div class="rf-left">
                                            <p><i class="fa fa-th-large"></i> {{property.surface}}</p>
                                            <p><i class="fa fa-bed"></i> {{property.rooms}}</p>
                                        </div>
                                        <div class="rf-right">
                                            <p><i class="fa fa-building"></i> {{property.floor}}</p>
                                        </div>
                                    </div>
                                    <div class="room-info">
                                        <div class="rf-right">
                                            <p><i class="fa fa-clock-o"></i> {{property.createdat|date('Y-m-d')}}</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="room-price">{{property.price}}€</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    </div>
    </section>



    <div class="container">
        <div class="display-4">Tous nos produits
        </div>
        <br>
    </div>

    <section class="page-section categories-page">
    <div class="container">
    <div class=" row">

        {%  for property in x %}
            <div class="col-lg-4 col-md-6">

            <div class="mx-auto animated fadeInDown">
        <div class="feature-item">
                <div class="sale-notic">{{ property.token }}</div>
            <img class="feature-pic set-bg" src="/images/products/{{ property.image }}">

            </img>
            <div class="feature-text">
                <div class="text-center feature-title">
                    <h5> <a href="{{ path('property.show',{id: property.id, slug: property.slug})}}" class="room-price">{{property.title}}</a></h5>

                    <p><i class="fa fa-map-marker"></i> {{property.address}}</p>
                </div>
                <div class="room-info-warp">
                    <div class="room-info">
                        <div class="rf-left">
                            <p><i class="fa fa-th-large"></i> {{property.surface}}</p>
                            <p><i class="fa fa-bed"></i> {{property.rooms}}</p>
                        </div>
                        <div class="rf-right">
                            <p><i class="fa fa-building"></i> {{property.floor}}</p>
                        </div>
                    </div>
                    <div class="room-info">
                        <div class="rf-right">
                            <p><i class="fa fa-clock-o"></i> {{property.createdat|date('Y-m-d')}}</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="room-price">{{property.price}}€</a>
            </div>
        </div>
            </div>
        </div>






        {% endfor %}






    </div>
    </div>
    </section>


        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(Property) }}
        </div>


    <div class="pagerfanta d-flex justify-content-center">
        {{ pagerfanta(my_pager, 'twitter_bootstrap4') }}
    </div>


{% endblock %}