{% extends 'base.html.twig' %}
{% block title 'Tous nos biens' %}
{% block body %}


    <div class="jumbotron txt-center" id="carouselExampleSlidesOnly"  data-ride="carousel">
        <img width="800" height="250" class="animated infinite slow fadeIn" style="margin-left: 280px;" id="imageslider" />

    </div>
    <div class="container">
        <h2>les derniers</h2>
    </div>
    <section class="page-section categories-page">
        <div class="container">
            <div class=" row">
                {% for property in properties %}
                    <div {% if loop.index is odd %}class="color"{% endif %}></div>
                    <div class="col-lg-4 col-md-6">

                        <div class="mx-auto animated fadeInDown">
                            <div class="feature-item">
                                <div class="sale-notic">{{ property.token }}</div>
                                <img class="feature-pic set-bg" src="/images/products/{{ property.image }}">

                                </img>
                                <div class="feature-text">
                                    <div class="text-center feature-title">
                                        <h5> <a href="{{ path('property.show',{id: property.id, slug: property.slug})}}" class="room-price">{{property.title}}</a></h5>

                                        <p><i class="fa fa-map-marker"></i> {{property.address}}</p>
                                    </div>
                                    <div class="room-info-warp">
                                        <div class="room-info">
                                            <div class="rf-left">
                                                <p><i class="fa fa-th-large"></i> {{property.surface}}</p>
                                                <p><i class="fa fa-bed"></i> {{property.rooms}}</p>
                                            </div>
                                            <div class="rf-right">
                                                <p><i class="fa fa-building"></i> {{property.floor}}</p>
                                            </div>
                                        </div>
                                        <div class="room-info">
                                            <div class="rf-right">
                                                <p><i class="fa fa-clock-o"></i> {{property.createdat|date('Y-m-d')}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="room-price">{{property.price}}€</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        var array = [
                '/images/maison/hd1.jpg',
                '/images/maison/hd2.jpg',
                '/images/maison/hd3.jpg'],
            curIndex = 0;
        imgDuration = 2100;

        function slideShow() {
            document.getElementById('imageslider').src = array[curIndex];
            curIndex++;
            if (curIndex == array.length) { curIndex = 0; }
            setTimeout("slideShow()", imgDuration);
        }
        slideShow();
    </script>
{% endblock %}
